#root {
  max-width: 100%;
  text-align: center;
  width: -webkit-fill-available;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'LogoFont';
  src: url('src/assets/fonts/Hey Comic.otf') format('onetype');
  font-weight: normal;
  font-style: normal;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.desktop{
  width: 90%;
  min-height: 100vh;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  margin-left:5%;
  margin-right: 5%;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 5px black;
}
