

.login-cont{
  width: 60%;
  border: solid;
  border-radius: 20px;
  background-color: #e8d5c2;
  color: #81635a;
  margin: auto;
  padding: 15px;
}

.login-textbox{
  width: 70%;
}

@font-face {
  font-family: 'LogoFont';
  src: url('../src/assets/fonts/Hey Comic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.logo{
  float: left;
  position: absolute;
  color: #58433d;
  font-family: 'LogoFont', sans-serif;
  font-size: 75px;
}

.logo-img{
  float: left;
  width:300px;
  margin-top: 30px;
}

.logo-header{
  display: flex;
  justify-content: center;
}

.general-cont{
  width: 70%;
  border: solid;
  border-radius: 20px;
  background-color: #e8d5c2;
  color: #81635a;
  margin: auto;
  padding: 15px;
}

select{
  width: 70%;
  border: solid;
  border-radius: 20px;
  background-color: #ffffff;
  color: #81635a;
  margin: auto;
  padding: 15px;
}