input {
  background-color: rgb(255, 255, 255);
}

.login-cont{
  width: 70%;
  border: solid;
  border-radius: 20px;
  background-color: #e8d5c2;
  color: #81635a;
  margin: auto;
  padding: 15px;
}

@font-face {
  font-family: 'LogoFont';
  src: url('../src/assets/fonts/Hey Comic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.logo{
  color: #58433d;
  font-family: 'LogoFont', sans-serif;
  font-size: 75px;
}